doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Umverteiler
    link(href='./style.css' rel='stylesheet')
    script(defer=true src='./site.js')
  body
    .navbar.has-shadow.is-spaced
      .container
        .navbar-brand
          a.navbar-item(href='/')
            include logo.min.svg
          a.navbar-burger.burger(href='#' data-toggle-class='is-active' data-toggle-class-target='#navbar-menu')
            span
            span
            span
        .navbar-menu(id='navbar-menu')
          .navbar-start
            a.navbar-item(href='#how-to')
              span.icon.has-text-success
                i.fas.fa-book
              span How To
            a.navbar-item(href='#tips')
              span.icon.has-text-info
                i.fas.fa-info-circle
              span Tips & Tricks
            a.navbar-item(href='#caveats')
              span.icon.has-text-warning
                i.fas.fa-exclamation-triangle
              span Einschränkungen
            a.navbar-item(href='#finance')
              span.icon.has-text-danger
                i.fas.fa-comment-dollar
              span Finanzen
          .navbar-end
            .navbar-item
              .field
                .control
                  form(action='https://www.paypal.com/cgi-bin/webscr' method='post')
                    input(type='hidden' name='cmd' value='_s-xclick')
                    input(type='hidden' name='notify_url' value='https://umverteiler.honkgong.info/api/ipn')
                    input(type='hidden' name='hosted_button_id' value='9JCS9AL9ANNWQ')
                    button.button.is-danger.has-text-weight-bold(type='submit' name='submit')
                      | Spenden

    .section
      .container
        .columns
          .column.is-9-desktop.content
            h1
              | Der Umverteiler

            p
              | Auf dem Umverteiler kannst Du Möbel, Bücher, Autos, Werkzeuge,
              | Tipps und Tricks fürs tägliche Leben, Mitfahrgelegenheiten,
              | Haustiere, Reisebegleitung - also eigentlich alles - verschenken,
              | verkaufen, tauschen, anbieten, ver- und ausborgen, also vielseitig
              | UMVERTEILEN ohne umständliches Rumfragen.

            p
              | Dafür gibt es ein paar Abmachungen:

            h2(id='how-to')
              | How To Umverteiler

            h3
              | 1. Präziser Betreff!

            p
              | Der Betreff sollte aussagen, was Du loswerden oder was Du bekommen
              | willst. Bei an den Umverteiler weitergeleiteten Emails also den
              | Betreff überprüfen und ggf. ändern.

            p
              | Zum Beispiel so:

            ul
              li
                | "Verschenke: Frigga Haug: Selbstveränderung und Veränderung der
                |  Umstände"
              li
                | "Verkaufe: Katzenbilder"
              li
                | "Biete/Suche: Knackige Essiggurken"
              li
                | "Gesucht zum Ausborgen: Pferd"
              li
                | "Suche: Reisetipps für..."

            p
              | Eigentlich soll keine Veranstaltungswerbung über den Verteiler
              | verschickt werden, aber wer es nicht lassen kann, dann bitte:

            ul
              li
                | "Veranstaltung: Theater/Film/Vortrag/Lesung..."

            h3
              | 2. Sharing And Caring

            p
              | Halte den Politkram und Veranstaltungshinweise möglichst raus.
              | Der Umverteiler ist nicht verschlüsselt! Außerdem gibt es dafür
              | auch andere Verteiler.

            h3
              | 3. Aufnahmepolitics

            p
              | Neue Leute werden von Leuten, die schon auf der Liste sind
              | vorgeschlagen, d.h. DU schickst die aufzunehmende Emailadresse an
              | die Adminadresse des Umverteilers. Sie steht unter jeder Email,
              | die über den Verteiler geht!

            p
              | Der Gedanke dahinter: Alle sollen sich dafür verantwortlich
              | fühlen, was über den Verteiler kommt.

            p
              | Alle anderen Anfrageformen (Adminadresse weitergeben, Emailadresse
              | über den Verteiler schicken, ...) werden ignoriert, auch weil das
              | einfach zu viel Arbeit ist, denn:

            h3
              | 4. 1000 Emails!

            p
              | Der Umverteiler zählt nun um die 1000 AbonnentInnen!! Bedenke also:

            ol
              li
                | Wenn du 1 Email verschickst, verschickst du eigentlich 1000!
              li
                | Du bist eine von 1000 Personen, die sich mit Fragen und
                | Problemen an die Adminadresse wendet und dort arbeiten in ihrer
                | Freizeit, unbezahlt: 2 Personen. Deshalb braucht das manchmal
                | einen kleinen Moment.

            h3
              | 5. Adressen & Links

            ul
              li
                | Email an die Liste:
                |
                a.is-nowrap(href='mailto:umverteiler@lists.honkgong.info')
                  | umverteiler@lists.honkgong.info

              li
                | Probleme, Anfragen, etc.:
                |
                a.is-nowrap(href='mailto:umverteiler-owner@lists.honkgong.info')
                  | umverteiler-owner@lists.honkgong.info

              li
                | Abmelden:
                |
                a.is-nowrap(href='mailto:umverteiler-leave@lists.honkgong.info')
                  | umverteiler-leave@lists.honkgong.info

            p
              | Auf der
              |
              a(href='https://lists.honkgong.info/accounts/login/')
                | Weboberfläche der Listensoftware
              |
              | könnt ihr euch auch einen Account anlegen und eure Einstellungen
              | selbst bearbeiten.

            h2(id='tips')
              | Tips & Tricks

            h3
              | Große Anhänge versenden

            p
              | Im Moment sind Emails, die über den Umverteiler versendet werden
              | können, auf eine Größe von 1 MB beschränkt. Einerseits nutzen
              | viele Umverteilende Postfächer mit beschränktem Speicherplatz,
              | die verstopfen, wenn bergeweise Umverteilermails eintrudeln.
              | Andererseits wollen viele Umverteilende ihr freigewordenes
              | WG-Zimmer mit schönen Bildern bewerben. 1 MB erscheint uns als
              | angemessener Kompromis.

            p
              | Emails, die größer sind als 1 MB, landen in der Moderation und
              | werden in der Regel abgelehnt. Bei minimaler Überschreitung mit
              | höchst relevanten Inhalten (lies: kreative Katzenbilder) werden
              | auch mal Ausnahmen gemacht.

            p
              | Wenn ihr große Dateien teilen wollt ohne euch der Willkür der
              | allmächtigen Moderation auszusetzen, ladet ihr diese am besten
              | in einen der unzähligen Cloud Storage Dienste (Dropbox,
              | Google Drive, iCloud, OneDrive, ...) und packt einen Link in
              | eure Email.

            h3
              | Chaos im Postfach vermeiden

            p
              | Das Abonnement einer aktiven Mailingliste führt zwangsläufig zu
              | mehr Emails im Postfach. Da kann es schnell chaotisch werden,
              | wenn die wichtige Buchungsbestätigung irgendwo zwischen
              | Mitfahrgelegenheitsanfragen und WG-Zimmer-Angeboten vergraben
              | ist.

            p
              | Dieses Problem ist nicht neu und es gibt bereits ein Lösung:
              | Email-Filter. Richtig konfiguriert können damit alle Umverteiler
              | Emails in einen Unterordner eures Postfachs verschoben werden
              | und stören nicht eure sonstige Kommunikation.

            p
              | So ziemlich alle Email-Provider stellen diese Funktion bereit.
              | Hier ist eine Auswahl von Anleitungen:

            ul
              li
                a(href='https://posteo.de/hilfe/wie-blockiere-ich-unerw%C3%BCnschte-absender-wie-erstelle-ich-eine-pers%C3%B6nliche-blacklist')
                  | Posteo
              li
                a(href='https://riseup.net/de/email/settings/email-filters')
                  | Riseup
              li
                a(href='https://support.google.com/mail/answer/6579')
                  | Gmail
              li
                a(href='https://de.hilfe.yahoo.com/kb/SLN28071.html')
                  | Yahoo
              li
                a(href='https://hilfe.gmx.net/email/filterregeln/index.html')
                  | GMX
              li
                a(href='https://hilfe.web.de/email/filterregeln/index.html')
                  | WEB.DE

            p
              | Menschen, die den Umverteiler erhalten wollen, aber nicht jede
              | einzelne Email direkt zugestellt bekommen möchten, können eine
              | tägliche Zusammenfassung bekommen. Dafür geht ihr auf die
              |
              a(href='https://lists.honkgong.info/')
                | Weboberfläche der Listensoftware
              | , registriert euch mit der Emailadresse, mit der ihr den
              | Umverteiler abonniert habt und setzt die Einstellung
              | <em>Delivery Mode</em> auf <em>Mime Digests</em>.

            h2(id='caveats')
              | Einschränkungen

            p
              | In den letzten Jahren haben sich im Internet ein paar
              | Technologien zur Bekämpfung von Spam und Phishing
              | durchgesetzt, die die Nutzung von Mailinglisten und damit auch
              | den Umverteiler einschränken. Ohne zu technisch zu werden,
              | wollen wir an dieser Stelle kurz umreißen worum es geht und
              | darüber aufklären wer davon konkret wie betroffen ist.

            p
              | Die erst relevante Technologie ist
              |
              a(href='https://de.wikipedia.org/wiki/Sender_Policy_Framework')
                | SPF
              | . Mittels SPF können Mailserver feststellen, ob eine Email
              | von einem Mailserver der Domain-Inhaber*innen der angegeben
              | Absendeadresse kommt. Also ob die Email von
              | <em>ticket@deutschebahn.com</em> wirklich von einem Server der
              | Deutschen Bahn kommt. Das betrifft den Umverteiler, da er Emails
              | im Namen Anderer, nämlich euch, versendet.

            p
              | Die zweite Technologie heißt
              |
              a(href='https://de.wikipedia.org/wiki/DomainKeys')
                | DKIM
              | . Mittels DKIM können Mailserver ausgehende Emails signieren
              | und durch Überprüfung der Signatur eingehender Emails prüfen,
              | ob diese auf ihrem weiten Weg durch das Internet von
              | Zwischenstationen verändert wurden. Das betrifft den
              | Umverteiler, da er dem Betreff ein freundliches [umverteiler]
              | voranstellt und dem Nachrichteninhalt eine Fußnote hinzufügt.

            p
              | Die dritte und entscheidende Technologie heißt
              |
              a(href='https://de.wikipedia.org/wiki/DMARC')
                | DMARC
              | . Mittels DMARC können Domain-Inhaber*innen festlegen was mit
              | Emails, deren Absendeadresse auf ihre Domain verweist,
              | passieren soll, wenn die Überprüfung von SPF und/oder DKIM
              | fehlschlägt. Die Deutsche Bahn kann also darum bitten, dass
              | Emails in ihrem Namen von einem fremden Server, die auch noch
              | verändert wurden, nicht angenommen werden. Dieser Bitte kommen
              | inzwischen einige Emailprovider nach.

            p
              | Genau für den Anwendungsfall der Deutschen Bahn ist dieses
              | Konzept entworfen wurden, um Phishing vorzubeugen. Allerdings
              | hat sich auch Yahoo dazu entschieden diese Einstellung für ihre
              | Domain zu setzen, obwohl Emailprovidern für Privatkunden
              | explizit davon abgeraten wird. Inzwischen wurde Yahoo von Oath
              | (Verizon) gekauft und diese Einstellung wurde für alle anderen
              | Domains des Unternehmens übernommen.

            p
              | <strong>Arrr, was heißt das denn jetzt?</strong>
              | Emails von Yahoo, AOL und RocketMail Adressen an den
              | Umverteiler können nicht an alle Mitglieder zugestellt werden.
              | Auch ProtonMail Nutzer*innen sind betroffen.

            p
              | <strong>Arrr, wie grauenhaft. Was kann ich tun?</strong>
              | Im Moment hilft leider nur der Wechsel des Emailproviders und
              | sei es nur für eure Umverteiler-Emails. Vielleicht ist das auch
              | guter Zeitpunkt sich mal mit den Datenschutznerds von
              | <a href="https://posteo.de/de">posteo.de</a>
              | auseinanderzusetzen.

            p
              | <strong>Hmm, ok. Wie geht's weiter?</strong>
              | Es gibt eine neue Technologie am Horizont names
              |
              a(href='https://en.wikipedia.org/wiki/Authenticated_Received_Chain')
                | ARC
              | . Wen die großen Player mitspielen, könnte ARC die oben
              | genannten Probleme lösen. Das wird sich in nächster Zeit
              | herausstellen.

            h2(id='finance')
              | Finanzen

            p
              | Das Betreiben des Umverteilers kostet Geld. Wir zahlen im
              | Moment 20€ pro Monat Servermiete. Um werbefrei zu bleiben und
              | nicht gezwungen zu sein eure Emailadressen an schmierige
              | Spambots zu verschachern, brauchen wir (inklusives Wir!)
              | regelmäßig Money.

            p
              | Ziel ist es, die Finazierung der nächsten 2 Jahre zu sichern.
              | Wenn die Knete nicht einmal mehr für 1 Jahr reicht,
              | werden wir langsam unruhig. Bei weniger als 6 Monaten, fangen
              | wir an unser Privatvermögen gegen Rubbellose einzutauschen.

            p
              | Glücklicherweise können wir alle jederzeit auf diese Website
              | kommen, den aktuellen Kontostand des Umverteilers einsehen und
              | hin und wieder mal auf den großen roten Spenden-Button drücken.

            p
              | So kann gespendet werden:

            ul
              li
                | Hinter dem Spenden-Button verbirgt sich ein PayPal-Formular.
                | Dort könnt ihr mit eurem PayPal-Konto oder Kreditkarte
                | spenden. Beachtet bitte, dass dieser Service Gebühren kostet.
                | Kleine Spenden sind verhältnismäßig teurer als große Spenden.
                | Also lieber einmal groß, statt ganz oft klein spenden.
              li
                | Ihr könnt auch das Formular umgehen und direkt via PayPal
                | Geld senden an:
                |
                a.is-nowrap(href='mailto:donate+umverteiler@honkgong.info')
                  | donate+umverteiler@honkgong.info

              li
                | Bargeldspenden können bei vereenz und ushi abgegeben werden.
                | Wer nicht weiß, wo wir anzutreffen sind, kann das mit einer
                | Anfrage an
                |
                a.is-nowrap(href='mailto:umverteiler-owner@lists.honkgong.info')
                  | umverteiler-owner@lists.honkgong.info
                |
                | herausfinden.

            form.is-hidden-mobile(action='https://www.paypal.com/cgi-bin/webscr' method='post')
              input(type='hidden' name='cmd' value='_s-xclick')
              input(type='hidden' name='notify_url' value='https://umverteiler.honkgong.info/api/ipn')
              input(type='hidden' name='hosted_button_id' value='9JCS9AL9ANNWQ')
              button.button.is-danger.has-text-weight-bold(type='submit' name='submit')
                | Spenden

          .column.is-3
            .card
              .card-header
                .card-header-title
                  | Kontostand
                a.card-header-icon(href="#finance" title="Finanzen")
                  span.icon
                    i.fas.fa-question-circle

              .card-content(data-balance-meter='/api/balance')
                p
                  span.current 0
                  | € von 480€

                progress.progress(value=0 max=480)

                p
                  | Der Umverteiler ist für
                  |
                  span.period(data-fixed-costs=20) 0
                  |
                  | Monate finanziert.

            form.is-hidden-tablet(action='https://www.paypal.com/cgi-bin/webscr' method='post')
              input(type='hidden' name='cmd' value='_s-xclick')
              input(type='hidden' name='notify_url' value='https://umverteiler.honkgong.info/api/ipn')
              input(type='hidden' name='hosted_button_id' value='9JCS9AL9ANNWQ')
              button.button.is-danger.has-text-weight-bold(type='submit' name='submit')
                | Spenden
